{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="page-header">
        <h1>
            Projects <small>Manage projects</small>
        </h1>
    </div>
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="/page/scrumboard">ScrumBoard</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="/scrumboard/projectlist">Projects</a> <span class="divider">/</span>
        </li>
        <li class="active">
            {{ project.name|capfirst|truncatewords:3 }}
        </li>
    </ul>
    <form method="post" class="form">{% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
    </form>

{% endblock %}