{% extends "base.html" %}
{% load sitetree %}
{% load crispy_forms_tags %}

{% block title %} {% sitetree_page_title from "main_en" %} {% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block statusbar %}
    {% include "statusbar.html" %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <div class="ui segment">

        {#    Header#}
        <div class="ui grid">

            <div class="left floated left aligned ten wide column">
                <h1 class="ui header"><i class="{% sitetree_page_hint from "main_en" %} icon"></i>

                    <div class="content">
                        {% sitetree_page_title from "main_en" %}
                    </div>
                </h1>
            </div>
            <div class="right floated right aligned six wide column">
                <a href="{% url 'scrumboard:project-new' %}" class="blue ui labeled icon button"><i class="add icon"></i>Project</a>
            </div>

        </div>
        {#    End Header#}
        <div class="ui form">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
{% endblock %}
