{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="page-header">
        <h1>
            Sprints <small>Manage sprints</small>
        </h1>
    </div>
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="/page/scrumboard">ScrumBoard</a> <span class="divider">/</span>
        </li>
        <li class="active">
            Sprints
        </li>
    </ul>

    <p>
        <a href="{% url "scrumboard:sprint_new" %}" class="btn btn-primary">{% bootstrap_icon 'plus' %} Add sprint</a>
    </p>

    {% if object_list %}
        <table class="table table-responsive table-striped table-hover">
            <thead>
                <tr>

                    <th>
                        Name
                    </th>
                    <th>
                        Ends
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for item in object_list %}
{#                    <tr {% if item.votes > 5 %}class="danger"{% elif item.votes > 3 %}class="warning"{% elif item.votes > 0 %}class="success"{% endif %}>#}
                  <tr>
                    <td>
                        <a href="{% url "scrumboard:sprint_detail" item.id %}">{{ item.name }}</a>
                    </td>
                    <td>
                        {{ item.end }}
                    </td>
                    <td>
                        <span class="pull-right"><a href="{% url "scrumboard:sprint_edit" item.id %}" class="btn btn-primary btn-xs" role="button">edit</a> <a href="{% url "scrumboard:sprint_delete" item.id %}" class="btn btn-primary btn-xs" role="button">delete</a></span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            <ul class="pagination">
                <li>
                    <a href="?page=1"><<</a>
                </li>
                <li>
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}"><</a>
                    {% endif %}
                </li>
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                </li>
                {% endif %}
                <li class="active">
                    <a href="#">{{ page_obj.number }}</a>
                </li>
                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                </li>
                {% endif %}
                <li>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">></a>
                    {% endif %}
                </li>
                <li>
                    <a href="?page={{ page_obj.paginator.num_pages }}">>></a>
                </li>
            </ul>
        {% endif %}
    {% else %}
        <div class="info">No sprints</div>
    {% endif %}
{% endblock %}