{% extends "base.html" %}
{% load sitetree %}

{% block title %} {% sitetree_page_title from "main_en" %} {% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block statusbar %}
    {% include "statusbar.html" %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <div class="ui segment">

        {#    Header#}
        <div class="ui grid">

            <div class="left floated left aligned ten wide column">
                <h1 class="ui header"><i class="{% sitetree_page_hint from "main_en" %} icon"></i>

                    <div class="content">
                        {% sitetree_page_title from "main_en" %}
                    </div>
                </h1>
            </div>
            <div class="right floated right aligned six wide column">
                <a href="{% url 'scrumboard:status-new' %}" class="blue ui labeled icon button"><i class="add icon"></i>Status</a>
            </div>

        </div>
        {#    End Header#}

        <table class="ui blue unstackable definition table">
            <tr>
                <td>Name</td>
                <td>{{ status.name }}</td>
            </tr>
            <tr>
                <td>Order</td>
                <td>{{ status.order }}</td>
            </tr>
        </table>
        <a class="ui blue button" href="{% url "scrumboard:status-edit" status.id %}"><i class="edit icon"></i> Edit</a>
        <a class="ui blue button" href="{% url "scrumboard:status-delete" status.id %}"><i class="trash icon"></i> Delete</a>

    </div>
{% endblock %}
