{% extends "base.html" %}
{% load sitetree %}
{% load captureas %}
{% load render_page_header %}

{% block title %} {% sitetree_page_title from "main_en" %} {% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block statusbar %}
    {% include "statusbar.html" %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <div class="ui segment">
        {#    Header#}
        {% captureas page_title %}{% sitetree_page_title from "main_en" %}{% endcaptureas %}
        {% captureas page_icon %}{% sitetree_page_hint from "main_en" %}{% endcaptureas %}
        {% render_page_header_complete page_title page_icon 'Task' 'scrumboard:task-new' request.GET.quicksearch %}
        {#    End Header#}
        {% if object_list %}
            <table class="ui blue unstackable striped table">
                <thead>
                <tr>
                    <th>
                       Project
                    </th>
                    <th>
                       Story
                    </th>

                    <th>
                       Name
                    </th>
                    <th>
                       Sprint
                    </th>
                    <th>
                       Estimated Days
                    </th>
                    <th>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for task in object_list %}
                    <tr>
                        <td>
                            {{ task.project }}
                        </td>
                        <td>
                            {{ task.story }}
                        </td>

                        <td>
                            {{ task.name }}
                        </td>
                        <td>
                            {{ task.sprint }}
                        </td>
                        <td>
                            {{ task.estimated_days }}
                        </td>
                        <td class="right aligned">
                            <a href="{% url "scrumboard:task-detail" task.id %}"><i class="search icon"></i></a>
                            <a href="{% url "scrumboard:task-edit" task.id %}"><i class="edit icon"></i></a>
                            <a href="{% url "scrumboard:task-delete" task.id %}"><i class="trash icon"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% load paginator %}
            {% paginator page_obj request %}
        {% else %}
            <div class="info">No tasks found</div>
        {% endif %}
    </div>
{% endblock %}