{% extends "base.html" %}
{% load sitetree %}

{% block title %} {% sitetree_page_title from "main_en" %} {% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block statusbar %}
    {% include "statusbar.html" %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <div class="ui segment">

        {#    Header#}
        <div class="ui grid">

            <div class="left floated left aligned ten wide column">
                <h1 class="ui header"><i class="{% sitetree_page_hint from "main_en" %} icon"></i>

                    <div class="content">
                        {% sitetree_page_title from "main_en" %}
                    </div>
                </h1>
            </div>
            <div class="right floated right aligned six wide column">
                <a href="{% url 'scrumboard:task-new' %}" class="blue ui labeled icon button"><i class="add icon"></i>Task</a>
            </div>

        </div>
        {#    End Header#}

        <table class="ui blue unstackable definition table">
            <tr>
                <td>Project</td>
                <td>{{ task.project }}</td>
            </tr>
            <tr>
                <td>Story</td>
                <td>{{ task.story }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ task.name }}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{ task.status }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <td>Story points</td>
                <td>{{ task.task_points }}</td>
            </tr>
            <tr>
                <td>Estimated days</td>
                <td>{{ task.estimated_days }}</td>
            </tr>
            <tr>
                <td>Story points</td>
                <td>{{ task.task_points }}</td>
            </tr>
        </table>
        <a class="ui blue button" href="{% url "scrumboard:task-edit" task.id %}"><i class="edit icon"></i> Edit</a>
        <a class="ui blue button" href="{% url "scrumboard:task-delete" task.id %}"><i class="trash icon"></i> Delete</a>

    </div>
{% endblock %}
