<form class="form-inline" style="margin-left: -15px" id="connections_search_form"
      method="get" action="">
    <div class="inline fields">
        <div class="field">
            <div class="ui icon input">
                <input name="quicksearch" type="text" placeholder="Search..." value="{{ quicksearch }}">
                <i class="search icon"></i>
            </div>
            <div class="field">
                <input class="ui green submit button" type="submit" value="Go"/>
            </div>
        </div>
    </div>
</form>