<div class="ui vertical fluid grid">
    <div class="left floated left aligned eight wide column">
        <div class="ui breadcrumb">
            <a href="/"><i class="home icon"></i> Home</a>
            <div class="divider"> | </div>
            <a href="/page/about"><i class="info icon"></i> About</a>
            <div class="divider"> | </div>
            <a href="/page/sitemap"><i class="sitemap icon"></i> Sitemap</a>
        </div>
    </div>
    <div class="right floated right aligned eight wide column">
         <a href="https://github.com/acidjunk/django-scrumboard"><i class="github alternate icon"></i></a> Acidjunkies powertools - Copyright © {% now "Y" %}
    </div>
</div>